<md-content layout="column" layout-padding>
  <div layout="column">
    <h2 class="md-title" translate>{{vm.<%= camelizedSingularName %>._id ? 'Edit <%= humanizedSingularName %>' : 'New <%= humanizedSingularName %>'}}</h2>
    <md-divider></md-divider>
  </div>
  <form name="vm.form.<%= camelizedSingularName %>Form" layout="column" ng-submit="vm.save(vm.form.<%= camelizedSingularName %>Form.$valid)" novalidate>
    <div layout="row">
      <md-input-container flex="50">
        <label translate>Name</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input name="name" type="text" ng-model="vm.<%= camelizedSingularName %>.name" id="name" required>
        <div ng-messages="vm.form.<%= camelizedSingularName %>Form.name.$error">
          <p ng-message="required" translate><%= humanizedSingularName %> name is required.</p>
        </div>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
      <md-button type="submit" class="md-primary md-raised" translate>
        <md-icon md-font-set="material-icons">save</md-icon>
        {{vm.<%= camelizedSingularName %>._id ? 'Update' : 'Create'}}
      </md-button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </form>
</md-content>
